body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.marker {
  transform: translate(-50%, -100%);
}
.error {
  color: red;
}
.popup {
  max-width: 30vw;
}
.popup img {
  width: auto;
  display: block;
  text-align: center;
  height: 200px;
  margin: 0 auto;
}
.entryform {
  padding: 0.5rem;
}

.entryform label,
.entryform input,
.entryform textarea,
.entryform button {
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}
